

<!-- <div *ngIf="storeData.store['notification']&&pageName!=='notifications'">
  <app-noti-popup></app-noti-popup>
</div> -->

<header class="page-header">

  <button
    class="back-btn"
    (click)="goBack()"
  >

    <i class="fa fa-chevron-left"></i>

  </button>

  <div class="page-title">

    {{pageName | titlecase}}

  </div>


  <div class="header-spacer"></div>

  <div
    *ngIf="['credit-agent','confirm-payment','agent-management', 'tg-bind'].includes(pageName)"
    class="dashboard-link"
    (click)="router.navigate(['/'])">

      <i class="fa fa-home"></i>
      Home
      <i class="ti ti-arrow-up-right"></i>

  </div>

</header>
