.page-header {

  position: sticky;

  top: 0;

  z-index: 100;

  height: 4rem;

  padding: 0 1rem;

  display: flex;

  align-items: center;

  justify-content: space-between;

  background:
    rgba(29,11,31,.96);

  backdrop-filter: blur(12px);

  border-bottom:
    .0625rem solid rgba(205,127,214,.08);
    margin-bottom: 2rem;
}

/* BACK */

.back-btn {

  width: 2.75rem;
  height: 2.75rem;

  border: none;

  border-radius: .85rem;

  display: flex;

  align-items: center;
  justify-content: center;

  cursor: pointer;

  color: #cd7fd6;

  background:
    rgba(205,127,214,.08);

  border:
    .0625rem solid rgba(205,127,214,.12);

  transition: .25s ease;

}

.back-btn:hover {

  background:
    rgba(205,127,214,.15);

  transform:
    translateX(-2px);

}

/* TITLE */

.page-title {

  flex: 1;

  text-align: center;

  color: white;

  font-size: 1rem;

  font-weight: 800;

  letter-spacing: .02rem;

}

.header-spacer {

  width: 2.75rem;

}
