

<div *ngIf="storeData.store['notification']&&pageName!=='notifications'">
  <app-noti-popup></app-noti-popup>
</div>

<div class="title-area">

  <div class="wallet-header">

    <!-- LEFT : Back -->
    <div class="header-left">
      <button (click)="goBack()" class="back-btn">
        ←
      </button>
    </div>

    <!-- CENTER : Title -->
    <div class="header-title">
      {{pageName | titlecase}}
    </div>

    <!-- RIGHT : Balance -->

    <div *ngIf="!['VI Quantitative Trading','my-plan'].includes(storeData.store['pageName'])">
      <div  class="header-right notranslate"
           *ngIf="storeData.store['wallet'] as walletData ">

        <div class="balance">
          <!-- <span class="currency">
            {{walletData.init_currency.symbol}}
          </span> -->

          <span class="amount">
            {{walletData.balance.new | currencyConverter:true }}
          </span>
        </div>

      </div>
    </div>


  </div>

  <!-- Dashboard shortcut -->
  <div
    *ngIf="['credit-agent','confirm-payment','agent-management'].includes(pageName)"
    class="dashboard-link"
    (click)="router.navigate(['/'])">

      <i class="ti ti-home"></i>
      Dashboard
      <i class="ti ti-arrow-up-right"></i>

  </div>

</div>
