<div *ngIf="!walletService.quickNav.storeData.store['deposit']?.length; else pendingDeposit">

  <div class="deposit-create-page">

    <div class="deposit-header">

      <h2>
        Create Deposit
      </h2>

      <p>
        Generate a payment invoice to fund your wallet.
      </p>

    </div>

    <!-- AMOUNT -->

    <div class="amount-card">

      <label>

        Deposit Amount

      </label>

      <div class="amount-input-wrap">

        <span>

          {{walletService.selectedData?.symbol}}

        </span>

        <input
          type="number"
          [(ngModel)]="walletService.localAmount"

          placeholder="0.00"
        >

      </div>

    </div>

    <!-- QUICK AMOUNTS -->

    <div  class="quick-amounts">
      <span (click)="walletService.localAmount=walletService.currencyConverter.transform(amount)" *ngFor="let amount of walletService.quickAmounts">{{amount|currencyConverter:true}}</span>
    </div>

    <!-- SUMMARY -->

    <div  *ngIf="walletService.storeData.store['wallet'] as wallet"  class="deposit-summary">

      <div class="summary-row">

        <span>
          Available Balance
        </span>

        <strong>
          {{wallet?.balance.new|currencyConverter:true}}
        </strong>

      </div>

      <div class="summary-row">

        <span>

          Processing Fee

        </span>

        <strong>

          {{walletService.selectedData?.symbol}}0.0

        </strong>

      </div>

      <div class="summary-row total">

        <span>

          Total Withdraw

        </span>

        <strong>

          {{wallet?.history?.withdraw || 0 |currencyConverter:true}}

        </strong>

      </div>

    </div>

    <!-- BUTTON -->

    <button
      class="form-btn"
      (click)="creeateDeposit()"
      [disabled]="!walletService.localAmount || walletService.localAmount < walletService.minimumPayment"

      >

      Create Deposit Invoice

    </button>

  </div>

</div>

<ng-template #pendingDeposit>
  <app-invoice></app-invoice>
</ng-template>
