
<div *ngIf="walletService.quickNav.storeData.store['wallet']?.['hasPin']; else noPin">

  <div *ngIf="!walletService.quickNav.storeData.store['deposit']?.length; else pendingDeposit"
       class="local-deposit">

    <!-- METHOD SELECT -->
    <div class="method-grid">
      <div
        *ngFor="let curr of walletService.getVisibleCurrencies()"
        class="method-chip"
        [class.active]="walletService.selectedLocaLMethod === curr.code"
        (click)="walletService.selectedLocaLMethod = curr.code">

        <div class="icon">
          <span *ngIf="['XOF'].includes(curr.code)">🌍</span>
          <img *ngIf="!['XOF'].includes(curr.code)" [src]="makeFlag(curr.code)">
        </div>

        <div class="meta">
          <div class="code">{{ curr.code }}</div>
          <div class="sub">{{ curr.name }}</div>
        </div>
      </div>
    </div>

    <!-- AMOUNT + ACTION -->
    <div *ngIf="walletService.selectedLocaLMethod" class="amount-card premium-field">

      <!-- INPUT -->
      <div class="amount-input form-control">
        <input
          type="number"
          [(ngModel)]="walletService.localAmount"
          placeholder="Enter amount"
        >
        <div class="currency-pill">
          {{ walletService.selectedData.symbol }}
        </div>

      </div>

      <!-- QUICK INFO -->
      <div class="field-info">

        <span>
          Minimum Withdrawal
        </span>

        <strong>
          {{walletService.selectedData.symbol}}
          {{walletService.minimumPayment | number:'1.2-2'}}
        </strong>

      </div>

      <!-- CTA -->
      <button
        (click)="creeateDeposit()"
        [disabled]="!walletService.localAmount || walletService.localAmount < walletService.minimumPayment"
        class="form-btn">

        Continue
        <div class="btn-arrow">
          →
        </div>
      </button>

    </div>

  </div>
</div>

<ng-template #noPin>
  <app-create-pin></app-create-pin>
</ng-template>

<ng-template #pendingDeposit>
  <app-invoice></app-invoice>
</ng-template>
