.deposit-create-page {

  padding: 1rem;

}

.deposit-header {

  margin-bottom: 1.25rem;

}

.deposit-header h2 {

  margin: 0;

  color: white;

  font-size: 1.25rem;

  font-weight: 800;

}

.deposit-header p {

  margin-top: .35rem;

  color:
    rgba(205,127,214,.7);

}

/* METHOD */

.deposit-method-card {

  display: flex;

  align-items: center;

  gap: .9rem;

  padding: 1rem;

  border-radius: 1rem;

  margin-bottom: 1rem;

  background:
    linear-gradient(
      135deg,
      rgba(255,255,255,.03),
      rgba(205,127,214,.04)
    );

  border:
    .0625rem solid rgba(205,127,214,.08);

}

.method-icon {

  width: 3rem;
  height: 3rem;

  border-radius: .8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    rgba(205,127,214,.08);

}

/* AMOUNT */

.amount-card {

  padding: 1rem;

  border-radius: 1rem;

  background:
    rgba(255,255,255,.03);

  border:
    .0625rem solid rgba(205,127,214,.08);

}

.amount-card label {

  display: block;

  margin-bottom: .8rem;

  color:
    rgba(205,127,214,.8);

  font-weight: 700;

}

.amount-input-wrap {

  display: flex;

  align-items: center;

  gap: .8rem;

}

.amount-input-wrap span {

  color: #cd7fd6;

  font-size: 1.5rem;

  font-weight: 800;

}

.amount-input-wrap input {

  flex: 1;

  border: none;
  outline: none;

  background: transparent;

  color: white;

  font-size: 1.6rem;
  font-weight: 800;

}

/* QUICK */

.quick-amounts {

  display: grid;

  grid-template-columns:
    repeat(4,1fr);

  gap: .6rem;

  margin-top: 1rem;

}

.quick-amounts span {

  /* height: 2.7rem; */

  border: none;

  border-radius: .8rem;

  background:
    rgba(205,127,214,.08);

  color: white;

  font-weight: 700;
  text-align: center;
  font-size: .733rem;

}

/* SUMMARY */

.deposit-summary {

  margin-top: 1rem;

  padding: 1rem;

  border-radius: 1rem;

  background:
    rgba(255,255,255,.03);

  border:
    .0625rem solid rgba(205,127,214,.08);

}

.summary-row {

  display: flex;

  justify-content: space-between;

  padding: .75rem 0;

}

.total {

  border-top:
    .0625rem solid rgba(205,127,214,.08);

  margin-top: .5rem;

  padding-top: 1rem;

}
