.app-footer {

  position: fixed;

  left: .75rem;
  right: .75rem;
  bottom: .75rem;

  height: 4.5rem;

  display: flex;

  align-items: center;
  justify-content: space-around;

  border-radius: 1.4rem;

  background:
    linear-gradient(
      145deg,
      rgba(29,11,31,.96),
      rgba(45,19,48,.96)
    );

  backdrop-filter: blur(20px);

  border:
    .0625rem solid rgba(205,127,214,.12);

  box-shadow:
    0 .75rem 2rem rgba(0,0,0,.35),
    0 0 2rem rgba(205,127,214,.05);
    z-index: 999
}

/* TOP GLOW LINE */

.app-footer::before {

  content: '';

  position: absolute;

  top: 0;
  left: 15%;

  width: 70%;
  height: .12rem;

  background:
    linear-gradient(
      90deg,
      transparent,
      #cd7fd6,
      transparent
    );

  border-radius: 999px;

}

.footer-item {

  position: relative;

  flex: 1;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: .25rem;

  color:
    rgba(255,255,255,.45);

  transition: .25s ease;

}
.footer-item i {

  font-size: 1rem;

}

.footer-item span {

  font-size: .68rem;

  font-weight: 300;

}

.footer-item span, i:hover{
  color: #cd7fd6;
}

.footer-item.active {

  color: #cd7fd6;


}

.footer-item.active span {
  font-weight: 900;
}

.footer-item.active::before {

  content: '';

  position: absolute;

  top: -.6rem;

  width: 2rem;
  height: .2rem;

  border-radius: 999px;

  background: #cd7fd6;

  box-shadow:
    0 0 .8rem #cd7fd6;

}
