<footer class="app-footer">

  <a [routerLink]="item.route" [class.active]="item.key===activePage"  *ngFor="let item of items" class="footer-item active">

    <i *ngIf="item.key !== 'matches'" class="fa fa-{{item.path}}"></i>
    <span *ngIf="item.key === 'matches'">⚽</span>

    <span>

      {{item.label}}

    </span>

  </a>

  <!-- <a class="footer-item">

    <i class="fa fa-chart-line"></i>

    <span>

      Matches

    </span>

  </a>

  <a class="footer-item trade-btn">

    <i class="fa fa-bolt"></i>

    <span>

      Tickets

    </span>

  </a>


  <a class="footer-item">

    <i class="fa fa-user"></i>

    <span>

      Me

    </span>

  </a>




  <a class="footer-item">

    <i class="fa fa-gift"></i>

    <span>

      Invites

    </span>

  </a> -->

</footer>
