<div class="stake-page">

  <button (click)="matchService.toggleSlip()" class="stake-close-btn">

    ✕

  </button>
  <!-- TOP HEADER -->

  <div class="stake-header">

    <div>

      <h2>
        Place Bet
      </h2>

      <p>
        Premium staking experience
      </p>

    </div>

    <div class="wallet-box">

      <small>
        Available Balance
      </small>

      <h3>
        {{storeData.store['wallet']?.balance?.new|currencyConverter:true}}
      </h3>

    </div>

  </div>

  <!-- BET CARD -->

  <div class="bet-card">

    <!-- GLOW -->

    <div class="glow glow-1"></div>
    <div class="glow glow-2"></div>


    <!-- MARKET -->

    <div *ngIf="matchService.addingFixture as fx"  class="market-box">

      <div>

        <small>
          Correct Score <strong class="text-end"> {{ fx.selectedScore.value }}</strong>
        </small>

        <h4>
          Market
        </h4>

      </div>

      <!-- <div class="">
      </div> -->
      <div class="odd-box">

         {{ fx.selectedScore.odds }}%

      </div>

    </div>

    <!-- STAKE -->

    <div class="stake-section">

      <div class="stake-label">

        Stake Amount

      </div>

      <!-- INPUT -->

      <div class="stake-input-wrap">

        <span class="currency">
          {{storeData.store['wallet']?.init_currency.symbol}}
        </span>

        <input
          type="number"
          value="100"
          placeholder="Enter amount"
          [(ngModel)]="matchService.stakeAmount"
          (keyup)="matchService.stakeAmountHandler($event)"


        >

        <button class="max-btn" (click)="matchService.stakeAll()">

          MAX

        </button>

      </div>

      <!-- QUICK AMOUNTS -->

      <!-- <div class="quick-amounts">

        <button
           *ngFor="let amt of amounts"
           [class.active]="selectedAmount === amt"
           (click)="selectAmount(amt)"
          >
          {{ amt | currencyConverter |number }}
        </button>
      </div> -->

    </div>

    <!-- PROFIT -->

    <div class="profit-card">

      <div class="profit-row">

        <span>
          Possible Win
        </span>

        <strong>
          {{storeData.store['wallet']?.init_currency.symbol}}{{matchService.profit|number:"1.2-2"}}
        </strong>

      </div>

      <div class="profit-row">

        <span>
          Total Profit
        </span>

        <strong class="profit">

          +{{storeData.store['wallet']?.init_currency.symbol}}{{matchService.possibleWin|number:"1.2-2"}}

        </strong>

      </div>

    </div>

    <!-- EXTRA PREMIUM -->

    <div class="bonus-strip">

      <div class="bonus-item">

        ⚡ Fast Settlement

      </div>

      <div class="bonus-item">

        🔥 Boosted Odds

      </div>

      <!-- <div class="bonus-item">

        💎 VIP Cashback

      </div> -->

    </div>

    <!-- BUTTON -->

    <button (click)="matchService.slipHandler('trade_bet!')" type="submit">

      Place Bet

    </button>

    <button (click)="matchService.slipHandler('book_bet')" *ngIf="storeData.store['is_staff']" type="submit" class="w-100 mb-6 primary">Company bet</button>


  </div>

</div>
