<app-header2></app-header2>
<app-spinner></app-spinner>

<div *ngIf="inviteService.users as users" >

    <div class="users-page">

    <div class="page-header">

      <h2 *ngIf="inviteService.main !== 'inactive'">
        {{inviteService.main|titlecase}} Level {{inviteService.level}} Users
      </h2>

      <h2 *ngIf="inviteService.main === 'inactive'">
        {{inviteService.main|titlecase}} Users
      </h2>

      <span>

        {{users.length}} Members

      </span>

    </div>

    <div
      class="user-card"
      *ngFor="let user of users"
    >

      <!-- TOP -->

      <div class="user-top">

        <div class="avatar">

          {{user?.referred_user?.[0] || user.user?.[0] | uppercase}}

        </div>

        <div class="user-info">

          <strong>

            {{user?.referred_user||user.user}}

          </strong>

          <span>

            {{ inviteService.main === 'inactive' ? "inactive": "Level"}} {{user?.generation}}

          </span>

        </div>

        <div
          class="status"
          [class.paid]="user.cashed"
        >

          {{user?.cashed ? 'Paid' : 'Pending'}}

        </div>

      </div>

      <!-- STATS -->

      <div
      class="user-stats"
      *ngIf="inviteService.main !== 'inactive'"
      >

        <div class="stat">

          <small>

            {{inviteService.main === 'referral'? 'Deposit': "Bet return"}}

          </small>

          <strong>

            {{user?.currency}}
            {{user?.base_amount}}

          </strong>

        </div>

        <div class="stat">

          <small>

            Commission

          </small>

          <strong class="earn">

            +{{user?.currency}}
            {{user?.amount}}

          </strong>

        </div>

      </div>

      <!-- FOOTER -->

      <div *ngIf="inviteService.main !== 'inactive'" class="user-footer">

        <span>

          {{user?.created_at | date:'mediumDate'}}

        </span>

        <span>

          {{user?.type | titlecase}}

        </span>

      </div>


      <div *ngIf="inviteService.main === 'inactive'" class="user-footer">

        <span>

          JOINED

        </span>

        <span>

          {{user?.created_at | date:'mediumDate'}}

        </span>

      </div>

    </div>

  </div>
  </div>

  <div *ngIf="!inviteService.users.length">

    <app-empty-state></app-empty-state>

    </div>
