<app-spinner></app-spinner>
<app-header2></app-header2>


	<div class="space-top container-fluid">


    <!-- <ng-template > -->
      <h4 class="title">Amount : {{currencySymbol}}{{totalAmount|number}} ~ <span class="text-info">${{totalAmountDollar|number}}</span></h4>

      <p></p>
      <div *ngIf="directory==='Withdraw'" class="withdraw">

				<!-- <p>Withdraw View </p> -->
        <div style="border-radius:15px" *ngFor="let tra of transaction;let i = index" class="bg-dark">
						<!-- <div *ngIf="tra.method!=='EGP'||tra.method==='EGP'&&tra.amount<=5000||username==='admin'"> -->
								<div  *ngIf="!['success','declined'].includes(tra.status)" class="container">
		              <div class="d-flex flex justify-content-between ">
		                <span class="label">👨‍💻:</span>
		                <span class="value">{{ tra.username }} </span>
		              </div>

									<div class="d-flex flex justify-content-between ">
		                <span class="label">AMOUNT‍:</span>
		                <span class="value">{{tra.method}}{{ tra.init_amount|number }} </span>
		              </div>

		              <div class="d-flex flex justify-content-between ">
		                <span class="label">Time:</span>
		                <span class="value">{{ tra.timestamp|momentAgo }}</span>
		              </div>

		              <div class="d-flex flex justify-content-between ">
		                <span class="label">Status:</span>
		                <span
		                  class="value status"
		                  [ngClass]="{
		                    'status-pending': tra.status === 'pending',
		                    'status-confirmed': tra.status === 'Confirmed',
		                    'status-declined': tra.status === 'Declined'
		                  }"
		                >
		                  {{ tra.status }}
		                </span>
		              </div>


		              <div class="info-{{i}}">
		                <div (click)="copyContent(extraField(tra,'account_number'),'Account number copied')" class="d-flex flex justify-content-between ">
		                  <span class="label">Account:</span>
		                  <span class="value">{{ extraField(tra,'account_number')|truncateCenter }} <i  class="ti ti-copy"></i></span>
		                </div>

		                <div class="d-flex flex justify-content-between ">
		                  <span class="label">Name:</span>
		                  <span class="value">{{ extraField(tra,'account_holder') }}</span>
		                </div>

		                <div class="d-flex flex justify-content-between ">
		                  <span class="label">Bank:</span>
		                  <span class="value">{{ extraField(tra,'bank') }}</span>
		                </div>

		                <div class="button-group" *ngIf="tra.status === 'pending'">
		                  <button type="submit" class="confirm" (click)="TransactionHandler(tra, 'success')">Confirm</button>
		                  <button type="submit" class="decline" (click)="TransactionHandler(tra, 'declined')">Decline</button>
		                </div>
		              </div>
		              <!-- <div (click)="openDetails(tra,['info-'+i,'details-'+i])" class="proof details-{{i}}">
		                <a  class="post__more button button--purple button--ex-small">Details</a>
		              </div> -->
		          </div>
						<!-- </div> -->

        </div>

      </div>

      <div *ngIf="directory==='Deposit'" class="deposit">

        <div style="border-radius:15px"  *ngFor="let tra of transaction;let i = index" class="text-white bordered">

            <div  *ngIf="!['success','declined'].includes(tra.status)" class="container">
              <div class="d-flex flex justify-content-between ">
                <span class="label">👨‍💻User:</span>
                <span class="value">{{ tra.username }} </span>
              </div>
							<div class="d-flex flex justify-content-between ">
                <span class="label">🤑AMOUNT‍:</span>
                <span class="value">{{tra.method}}{{ tra.init_amount|number }} </span>
              </div>

              <div class="d-flex flex justify-content-between ">
                <span class="label">⏰Time:</span>
                <span class="value">{{ tra.timestamp|momentAgo }}</span>
              </div>

              <div class="d-flex flex justify-content-between ">
                <span class="label">📥Status:</span>
                <span
                  class="value status"
                  [ngClass]="{
                    'status-pending': tra.status === 'pending',
                    'status-awaiting': tra.status === 'awaiting'
                  }"
                >
                  {{ tra.status }}
                </span>
              </div>

							<div *ngIf='tra.proof' class=" d-flex flex justify-content-between">
                <span class="label">🧾Receipt:</span>
                <span (click)="openPreview(tra)" class="value ">Open</span>
              </div>


              <div class="info-{{i}}">
                <!-- <div class="d-flex flex justify-content-between ">
                  <span class="label">REFERENCE ID:</span>
                  <span class="value">{{ tra.sessionID }} </span>
                </div> -->

                <div class="d-flex flex justify-content-between ">
                  <span class="label">Senders Name:</span>
                  <span class="value">{{ tra.transactionID }}</span>
                </div>

                <!-- Modal Overlay -->
                <div class="modal-backdrop" *ngIf="previewVisible" (click)="closePreview()">
                  <div class="modal-content" (click)="$event.stopPropagation()">
                    <img [src]="currentProof" alt="Full Proof" />
                    <button class="close-button" (click)="closePreview()">✖</button>
                  </div>
                </div>


                <div class="button-group" *ngIf="tra.status === 'pending' || 'awaiting' ">
                  <button class="confirm" (click)="TransactionHandler(tra, 'success')">Confirm</button>
                  <button class="decline" (click)="TransactionHandler(tra, 'declined')">Decline</button>
                </div>
              </div>

          </div>
        </div>

      </div>

			<div *ngIf="data" class="agent-card">
				<h4>💰 Balance Summary</h4>

				<div class="row">
					<span>Deposit:</span>
					<strong>{{data.symbol}}{{data.deposit | number :"1.2-2"}}</strong>
				</div>

				<div class="row">
					<span>Withdraw:</span>
					<strong>{{data.symbol}}{{data.withdraw | number :"1.2-2"}}</strong>
				</div>

				<div class="row">
					<span>Balance:</span>
					<strong>{{data.symbol}}{{data.balance | number :"1.2-2"}}</strong>
				</div>

				<hr>

				<h4>📊 Settlement Details</h4>

				<div class="row">
					<span>Total Settled:</span>
					<strong>{{data.symbol}}{{data.total_settled | number:"1.2-2"}}</strong>
				</div>

				<div class="row">
					<span>Agent Balance:</span>
					<strong>{{data.symbol}}{{data.agent_bal | number :"1.2-2"}}</strong>
				</div>

				<div class="row">
					<span>Commission:</span>
					<strong>{{data.symbol}}{{data.commission | number:'1.2-2'}}</strong>
				</div>

				<div class="row">
					<span>Remit:</span>
					<strong>{{data.symbol}}{{data.remit | number:'1.2-2'}}</strong>
				</div>

				<div class="row">
					<span>USD Value:</span>
					<strong>${{data.usd | number :"1.2-2"}}</strong>
				</div>

				<hr>


		</div>

  </div>
