<div *ngIf="walletService.quickNav.storeData.store['wallet']?.['hasPin']; else noPin">

  <div *ngIf="walletService.quickNav.storeData.store['deposit']" class="deposit-card">

    <!-- NETWORK SELECT -->
    <div *ngIf="walletService.getCrypto(walletService.selectedData.code) as curr" class="deposit-page">

        <!-- NETWORK -->

        <div  class="network-header">

          <img
            [src]="curr.img"
            alt=""
          >

          <div>

            <h2>
              {{ curr.label }}
            </h2>

            <span>
              Deposit Channel
            </span>

          </div>

        </div>

        <!-- QR -->

        <div class="qr-card">

          <img [src]="'https://api.qrserver.com/v1/create-qr-code/?size=180x180&data=' + walletService.payAddress" />

        </div>

        <!-- ADDRESS -->

        <div class="address-card">

          <div class="section-label">

            Wallet Address

          </div>

          <div class="address-box">

            <span>

              {{walletService.payAddress}}

            </span>

            <button (click)="walletService.quickNav.copy(walletService.payAddress, 'Address copied')">

              Copy

            </button>

          </div>

        </div>

        <!-- INFO -->

        <div class="info-card">

          <div class="info-row">

            <span>
              Minimum Deposit
            </span>

            <strong>
              {{ walletService.selectedData?.symbol }}
              {{ walletService.minimumPayment | number:'1.2-2' }}
            </strong>

          </div>

          <div class="info-row">

            <span>
              Network
            </span>

            <strong>
              {{curr.label}}
            </strong>

          </div>

          <div class="info-row">

            <span>
              Confirmations
            </span>

            <strong>
              1 Block
            </strong>

          </div>

        </div>

        <!-- NOTICE -->

        <div class="notice-card">

          <h4>

            Important Notice

          </h4>

          <ul>

            <li>
              Send only {{curr.network}} network.
            </li>

            <li>
              Deposits via incorrect networks may be lost permanently.
            </li>

            <li>
              Funds are credited automatically after confirmation.
            </li>

            <li>
              Do not send unsupported tokens.
            </li>

          </ul>

        </div>

      </div>


  </div>

</div>

<ng-template #noPin>
  <app-create-pin></app-create-pin>
</ng-template>
