<nav class="bottom-nav">

  <div  *ngFor="let item of items" class="">
    <div [routerLink]="item.route"  class="nav-item"  [class.active]="item.key===activePage" >
      <i class="fa fa-{{item.path}}"></i>
      <span>{{item.label}}</span>
    </div>
  </div>


  <!-- <div class="nav-item">
    <i class="fa fa-futbol"></i>
    <span>Matches</span>
  </div>

  <div class="nav-item">
    <i class="fa fa-wallet"></i>
    <span>Wallet</span>
  </div>

  <div class="nav-item">
    <i class="fa fa-user"></i>
    <span>Profile</span>
  </div> -->
</nav>
