<app-header2></app-header2>
<app-spinner></app-spinner>

<div class="page page-wrapper ">

  <section *ngIf="historyServiceLoaded" class="app-container ">

    <!-- BET TABS -->
    <div class="bets-history-page">

      <!-- HEADER -->

      <div class="history-header">

        <div>

          <!-- <h2>
            My Bets
          </h2> -->

          <p>
            Track all your betting activity
          </p>

        </div>

        <button class="filter-btn">

          All Bets

        </button>

      </div>

      <!-- STATS -->

      <div class="stats-grid">

        <div class="stat-card open">

          <div class="stat-top">

            <span class="dot"></span>

            Open

          </div>

          <h3>
            {{historyServiceLoaded?.openBetDisplay.length}}
          </h3>

          <!-- <small>
            Open
          </small> -->

        </div>

        <div class="stat-card won">

          <div class="stat-top">

            <span class="dot"></span>

            Won

          </div>

          <h3>
            {{historyServiceLoaded?.wonBet.length}}
          </h3>

          <!-- <small>
            won bets
          </small> -->

        </div>

        <div class="stat-card loss">

          <div class="stat-top">

            <span class="dot"></span>

            Loss

          </div>

          <h3>
            {{historyServiceLoaded?.lossBet.length}}
          </h3>

          <!-- <small>
            Lost tickets
          </small> -->

        </div>

      </div>

      <!-- BET LIST -->

      <!-- BET TABS -->
      <div class="bet-list">

            <div
              class="bet-ticket"
              *ngFor="let bet of historyServiceLoaded.allBets"
              [ngClass]="{
                'won-ticket': bet.status === 'won',
                'loss-ticket': bet.status === 'loss',
                'open-ticket': bet.status === 'open'
              }"
            >

              <!-- STATUS -->

              <div
                class="ticket-status"
                [ngClass]="{
                  'won-badge': bet.status === 'won',
                  'loss-badge': bet.status === 'loss'
                }"
              >

                {{bet.status}}
                <!-- <span *ngIf="bet.status !== 'open'">

                </span>
                <span *ngIf="bet.fixture[0].fixture.timestamp |countdown|async as time" (click)="historyServiceLoaded.CancelTicket(bet)">
                  cancel
                </span> -->

              </div>

              <div class="">

              </div>

              <!-- HEADER -->

              <div class="ticket-header">

                <div>

                  <small>
                    Ticket ID
                  </small>

                  <h4>
                    #{{ bet.ticket_id }}
                  </h4>

                </div>

                <div class="ticket-time">

                  {{
                    bet.fixture[0].fixture.status.short === 'NS'
                      ? (bet.start_date | date:'MMM d • HH:mm')
                      : (bet.start_date | date:'MMM d')
                  }}

                  •

                  {{
                    bet.fixture[0].fixture.status.short
                  }}

                </div>

              </div>

              <!-- LEAGUE -->

              <div class="league-row">

                <img
                class="logo"
                  [src]="bet.fixture[0].league.logo"
                >

                <span>

                  {{ bet.fixture[0].league.country }}

                  •

                  {{ bet.fixture[0].league.name }}

                </span>

              </div>

              <!-- MATCH -->

              <div class="match-row">

                <!-- HOME -->

                <div class="team">

                  <img
                    [src]="bet.fixture[0].teams.home.logo"
                  >

                  <span>

                    {{ bet.fixture[0].teams.home.name|truncateCenter:9 }}

                  </span>

                </div>

                <!-- MARKET -->

                <div class="score-market">

                  {{ bet.fixture[0].score?.fulltime?.home || 0 }} - {{ bet.fixture[0].score.fulltime.away || 0}}

                </div>

                <!-- AWAY -->

                <div class="team away">



                  <span>

                    {{ bet.fixture[0].teams.away.name|truncateCenter:9 }}

                  </span>

                  <img
                    [src]="bet.fixture[0].teams.away.logo"
                  >

                </div>

              </div>

              <!-- FOOTER -->


              <div class="bet-footer">

                <div class="footer-item">

                <small>Stake</small>

                <strong>
                  {{ bet.stake_amount | currencyConverter:true }}
                </strong>

                </div>

                <div class="footer-item">

                <small>Market</small>

                <strong class="market-value">

                  {{ bet.market_value }}

                </strong>

                </div>

                <div class="footer-item">

                <small>Odds</small>

                <strong>

                  {{ bet.market_odds }}x

                </strong>

                </div>

                <!-- OPEN -->

                <div
                class="footer-item"
                *ngIf="bet.status === 'open'"
                >

                <small>Possible Win</small>

                <strong class="profit">

                  {{
                    bet.stake_amount * bet.market_odds
                    | currencyConverter:true
                  }}

                </strong>

                </div>

                <!-- WON -->

                <div
                class="footer-item"
                *ngIf="bet.status === 'won'"
                >

                <small>Total Return</small>

                <strong class="won-text">

                  {{
                    bet.stake_amount * bet.market_odds
                    | currencyConverter:true
                  }}

                </strong>

                </div>

                <!-- LOSS -->

                <div
                class="footer-item"
                *ngIf="bet.status === 'loss'"
                >

                <small>Status</small>

                <strong class="loss-text">

                  Lost

                </strong>

                </div>

                </div>

                <!-- EXTRA SECTION -->

                <div
                class="ticket-action"
                *ngIf="bet.status === 'open'"
                >

                <button class="cancel-ticket-btn" *ngIf="bet.fixture[0].fixture.timestamp |countdown|async as time" (click)="historyServiceLoaded.CancelTicket(bet)">

                Cancel Bet

                </button>

                </div>

                <div
                class="ticket-action"
                *ngIf="bet.status === 'won'"
                >

                <div class="result-banner won-banner">

                ✓ Winning Ticket

                </div>

                </div>

                <div
                class="ticket-action"
                *ngIf="bet.status === 'loss'"
                >

                <div class="result-banner loss-banner">

                ✕ Unsuccessful Ticket

                </div>

                </div>

            </div>

      </div>

      <div *ngIf="!historyServiceLoaded.allBets?.length">
        <app-empty-state></app-empty-state>
        </div>

    </div>
  </section>
</div>

<app-menu-bottom></app-menu-bottom>
