<app-header></app-header>
<app-spinner></app-spinner>

<!-- <app-quick-notifications *ngIf="storeData.get('notification')"></app-quick-notifications> -->


<section class=" page-wrapper">

  <div
    class="welcome-badge"
    *ngIf="quickNav.storeData.store['username']"
    >

    <div class="welcome-icon">

    👋

    </div>

    <div class="welcome-text">

    <small>

     Welcome Back

    </small>

    <strong>

      {{ quickNav.storeData.store['username'] | titlecase }}

    </strong>

    </div>

    <div class="vip-chip">

      <span class="vip-dot"></span>

      VIP {{quickNav.storeData.store['vip_system']?.active?.vip_level||0}}

    </div>

    </div>

      <section class="app-container">
        <app-quick-nav></app-quick-nav>
      </section>


      <section class="app-container">
        <app-slider></app-slider>
      </section>





      <section class="app-container">
        <app-cpg></app-cpg>
      </section>

        <app-matches></app-matches>

  </section>


<app-menu-bottom></app-menu-bottom>

<!-- <span
  (click)="quickNav.openTab(quickNav.storeData.store['contact']?.telegramHelp)"
  class="telegram-float">

  <i class="ti ti-headset"></i>
  <span class="telegram-text">Telegram</span>

</span> -->
