<div class="toast-overlay">

  <div class="toast-box" [ngClass]="type">

  <div class="toast-accent"></div>

  <div class="toast-icon">

    <i
        class="fa-solid"
        [class.fa-check]="type === 'success'"
        [class.fa-times]="type === 'error'"
        [class.fa-exclamation-triangle]="type === 'warning'"
        [class.fa-info-circle]="type === 'info'"
      ></i>

  </div>

  <div class="toast-body">

    <div class="toast-title">

      {{type|titlecase}}

    </div>

    <div
      class="toast-message"
      [innerHTML]="message"
    ></div>

  </div>

  <button
    class="toast-close"
    (click)="close()"
  >

    <i class="fa fa-times"></i>

  </button>

</div>

</div>
