<!-- CURRENT METHOD -->


<div class="withdraw-method-card">

  <div class="method-info">

    <div class="method-icon">

      <span *ngIf="walletService.showCryptoTab">🪙</span>
      <span *ngIf="walletService.showLocalTab">🏦</span>


    </div>

    <div>

      <small>
        Payment Method
      </small>

      <strong>
        {{walletService.selectedData?.name}}
      </strong>

      <span>
        {{walletService.saved_add?.account_number|truncateCenter:9}}
      </span>

    </div>

  </div>

  <button
    type="button"
    class="change-method-btn"
    (click)="walletService.quickNav.go('setup')"
  >

    Change

  </button>

</div>
