.withdraw-method-card {

  display: flex;

  justify-content: space-between;
  align-items: center;

  gap: 1rem;

  margin-bottom: 1rem;

  padding: 1rem;

  border-radius: 1rem;

  background:
    linear-gradient(
      135deg,
      rgba(255,255,255,.03),
      rgba(205,127,214,.04)
    );

  border:
    .0625rem solid rgba(205,127,214,.08);

}

.method-info {

  display: flex;

  align-items: center;

  gap: .8rem;

  flex: 1;

}

.method-icon {

  width: 3rem;
  height: 3rem;

  border-radius: .9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;

  background:
    rgba(205,127,214,.08);

}

.method-info small {

  display: block;

  color:
    rgba(205,127,214,.7);

  font-size: .7rem;

}

.method-info strong {

  display: block;

  margin-top: .15rem;

  color: white;

  font-size: .9rem;

  font-weight: 700;

}

.method-info span {

  display: block;

  margin-top: .2rem;

  color:
    rgba(255,255,255,.6);

  font-size: .72rem;

}

.change-method-btn {

  height: 2.4rem;

  padding: 0 1rem;

  border: none;

  border-radius: .75rem;

  cursor: pointer;

  background:
    rgba(205,127,214,.12);

  border:
    .0625rem solid rgba(205,127,214,.12);

  color: #cd7fd6;

  font-size: .75rem;

  font-weight: 800;

  transition: .2s ease;

}

.change-method-btn:hover {

  background:
    rgba(205,127,214,.18);

}
