<app-header2></app-header2>
<app-spinner></app-spinner>

<section class="page-wrapper">

  <section class="app-container">



    <div class="account-page">

      <!-- PROFILE -->

      <div class="account-hero">

          <div class="hero-top">

            <div class="avatar">

              {{quickNav.storeData.store['username']?.[0]|titlecase}}

            </div>

            <div class="user-info">

              <h2>

                {{quickNav.storeData.store['username']}}

              </h2>

              <div class="user-meta">

              <div class="vip-chip">

                <span class="vip-dot"></span>

                VIP {{quickNav.storeData.store['vip_system']?.active?.vip_level||0}}

              </div>

              <!-- <span class="user-id">

                #12345

              </span> -->

            </div>

            </div>

          </div>

          <div class="balance-section">

            <small>

              Available Balance

            </small>

            <h1>

              {{quickNav.storeData.store['wallet']?.balance.new|currencyConverter:true}}

            </h1>

          </div>

          <div class="wallet-actions">

            <button (click)="quickNav.go('deposit')" class="deposit-btn">

              Deposit

            </button>

            <button (click)="quickNav.go('withdraw')" class="withdraw-btn">

              Withdraw

            </button>

          </div>

        </div>

      <!-- QUICK ACTIONS -->

      <div class="section-title">

        Quick Actions

      </div>

      <div class="quick-grid">

        <div (click)="quickNav.go('transaction')" class="quick-card">
          📄
          <span>Transactions</span>
        </div>

        <div class="quick-card" (click)="quickNav.go('invite/referrals')">
          👥
          <span>Referrals</span>
        </div>

        <div class="quick-card" (click)="quickNav.go('invite/rebate')">
          💰
          <span>Rebates</span>
        </div>

        <div class="quick-card">
          🎁
          <span>Gifts</span>
        </div>

        <div (click)="openModal()" class="quick-card">
          🔐
          <span>Security</span>
        </div>

        <div class="quick-card">
          🎧
          <span>Help</span>
        </div>

        <div (click)="appManager.installApp()" class="quick-card">
          📲
          <span>App</span>
        </div>

        <div (click)="quickNav.authService.logout(false)" class="quick-card">
          ⏻
          <span>Logout</span>
        </div>

      </div>

      <!-- LANGUAGE -->

      <div class="section-title">

        Preferences

      </div>

      <div class="language-card">

        <div class="quick-icon">

          🌐

        </div>

        <div class="language-content">

          <span class="language-title">

            Language

          </span>

          <select
            class="trans-select"
            (change)="quickNav.changeLanguage($event)"
          >

            <option disabled selected>
              Select Language
            </option>

            <option
              *ngFor="let lang of quickNav.langKeys"
              [value]="lang"
            >
              {{ lang }}
            </option>

          </select>

        </div>

      </div>

      <!-- STATS -->

      <div class="section-title">

        Transaction stats

      </div>

      <div *ngIf="quickNav.storeData.store['wallet']?.history as stats" class="stats-grid">

        <div class="stat-card">

          <small>Total Deposits</small>

          <strong>{{stats.deposit|currencyConverter:true}}</strong>

        </div>

        <div class="stat-card">

          <small>Total Withdrawals</small>

          <strong>{{stats.withdraw|currencyConverter:true}}</strong>

        </div>



      </div>

      <div class="section-title">

        Betting stats

      </div>

      <div *ngIf="quickNav.storeData.store['betDir']?.records as stats"  class="bet-performance">

        <!-- SECURE -->

        <div class="bet-card secure">

          <div class="bet-header">

            <span>

              🛡️ Secure Bets

            </span>

            <strong>

              {{ stats.true?.won?.percentage || 0 }}%

            </strong>

          </div>

          <div class="bet-label">

            Winning Rate

          </div>

          <div class="bet-grid">

            <div>

              <small>Bets</small>

              <strong>
                {{ stats.true?.won?.count || 0  }}
              </strong>

            </div>



            <div>

              <small>Profit</small>

              <strong class="profit">
                {{ stats.true?.won?.won_amount || 0 |currencyConverter:true }}
              </strong>

            </div>

            <div>

              <small>Loss</small>

              <strong>
                {{ stats.true?.loss?.count || 0  }} / {{ stats.true?.loss?.stake_amount || 0 |currencyConverter:true }}
              </strong>

            </div>

          </div>


        </div>

        <!-- RISK -->

        <div class="bet-card risk">

          <div class="bet-header">

            <span>

              ⚡ Risk Bets

            </span>

            <strong>

              {{ stats.false?.won?.percentage || 0}}%

            </strong>

          </div>

          <div class="bet-label">

            Winning Rate

          </div>

          <div class="bet-grid">

            <div>

              <small>Bets Won</small>

              <strong>
                {{ stats.false?.won?.count }}
              </strong>

            </div>



            <div>

              <small>Profit</small>

              <strong class="profit">
                {{ stats.false?.won?.won_amount || 0 |currencyConverter:true }}
              </strong>

            </div>

            <div>

              <small>Loss</small>

              <strong>
                {{ stats.false?.loss?.count || 0  }} / {{ stats.false?.loss?.stake_amount|| 0 |currencyConverter:true }}

              </strong>

            </div>

          </div>



        </div>

      </div>

    </div>

 </section>
 </section>




<app-menu-bottom></app-menu-bottom>


<!-- chamge Password modal -->

<div class="modal fade crypto-modal" id="changePassword" tabindex="-1">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">🔐 Reset Password</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="crypto-input">
            <input
              class="form__input"
              type="text"
              placeholder="Old password"
              formControlName="old-password"
            >
          </div>

          <div class="crypto-input">
            <input
              class="form__input"
              type="text"
              placeholder="New password"
              formControlName="new-password"
            >
          </div>

          <button
            class="apool__btn"
            [disabled]="!form.valid"
            type="submit"
          >
            Update Password
          </button>

        </form>

      </div>

    </div>
  </div>

</div>
