<app-header2></app-header2>
<app-spinner></app-spinner>

<section class="page-wrapper">

  <section class="app-container">

    <div class="account-page">

      <div class="profile-card">
        <div class="avatar">
          <img class="avatar" src="https://cyber.comolho.com/static/img/avatar.png" alt="">
        </div>

        <div class="profile-info">
          <h3>{{quickNav.storeData.store['username']}}</h3>
          <span class="user-id">ID: {{quickNav.storeData.store['profile']?.id}} <i (click)="quickNav.copy(quickNav.storeData.store['profile']?.id, 'ID copied')" class="ti ti-copy"></i></span>
        </div>

        <div class="select-language">
          <select class="notranslate trans-select" (change)="quickNav.changeLanguage($event)">
            <option disabled='disabled' selected='selected'>change language </option>
            <option  *ngFor="let lang of quickNav.langKeys" [value]="lang">
                  {{ lang }}
                </option>
          </select>
        </div>
      </div>

      <app-account-summary></app-account-summary>


       <!-- Quick Actions -->
       <div class="actions-grid">

         <!-- <div (click)="quickNav.go('lucky-wheel')" class="action-item voucher-item">

              <div class="icon-wrapper">
                <i class="ti ti-ticket"></i>

                <span class="badge" >
                  {{quickNav.storeData.store["available_wheel"]}}
                </span>
              </div>

              <span>Lucky <br> wheel</span>

            </div> -->

            <div (click)="appManager.installApp()" class="action-item">
              <i class="ti ti-download"></i>
              <span>APP</span>
            </div>

        <div (click)="quickNav.openTab('')" class="action-item">
          <i class="ti ti-headset"></i>
          <span>Support</span>
        </div>

        <div (click)="quickNav.openTab('https://t.me/K57_Officialbetting')" class="action-item">
          <i class="ti ti-brand-telegram"></i>
          <span>Telegram <br> channel</span>
        </div>

        <div (click)="openModal()" class="action-item">
          <i class="ti ti-shield-lock"></i>
          <span>Security</span>
        </div>

      </div>


       <!-- Settings -->
       <div class="menu-list">

        <div (click)="quickNav.go('transaction')" class="menu-item">
          <span class="menu-left">
            <i class="ti ti-history"></i>
            Transaction History
          </span>
          <i class="ti ti-chevron-right"></i>
        </div>

        <div (click)="quickNav.go('invite-rewards')" class="menu-item">
          <span class="menu-left">
            <i class="ti ti-gift"></i>
            Invite Rewards
          </span>
          <i class="ti ti-chevron-right"></i>
        </div>

        <div (click)="quickNav.go('vip')" class="menu-item">
          <span class="menu-left">
            <i class="ti ti-diamond"></i>
            VIP System
          </span>
          <i class="ti ti-chevron-right"></i>
        </div>



        <div (click)="quickNav.go('notifications')" class="menu-item">
          <span class="menu-left notification-icon">

            <div class="icon-wrapper">
              <i class="ti ti-message"></i>

              <!-- notification badge -->
              <span class="badge" *ngIf="notificationCount > 0">
                {{quickNav.storeData.store['notification']?.unseen?.length || 0}}
              </span>
            </div>

            Notifications

          </span>

          <i class="ti ti-chevron-right"></i>
        </div>


        <!-- <div (click)="appManager.installApp()" class="menu-item">
          <span class="menu-left">
            <i class="ti ti-download"></i>
            Get App
          </span>
          <i class="ti ti-chevron-right"></i>
        </div> -->

      </div>


       <!-- Logout -->
       <button (click)="quickNav.authService.logout(false)" class="logout-btn">
         Logout
       </button>

     </div>
 </section>
 </section>




<app-menu-bottom></app-menu-bottom>


<!-- chamge Password modal -->

<div class="modal fade crypto-modal" id="changePassword" tabindex="-1">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">🔐 Reset Password</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="crypto-input">
            <input
              class="form__input"
              type="text"
              placeholder="Old password"
              formControlName="old-password"
            >
          </div>

          <div class="crypto-input">
            <input
              class="form__input"
              type="text"
              placeholder="New password"
              formControlName="new-password"
            >
          </div>

          <button
            class="apool__btn"
            [disabled]="!form.valid"
            type="submit"
          >
            Update Password
          </button>

        </form>

      </div>

    </div>
  </div>

</div>
