<app-header2></app-header2>
<app-spinner></app-spinner>

<section class="page-wrapper">

  <section class="app-container">



    <div class="account-page">

      <!-- PROFILE -->

      <div class="account-hero">

          <div class="hero-top">

            <div class="avatar">

              {{quickNav.storeData.store['username']?.[0]|titlecase}}

            </div>

            <div class="user-info">

              <h2>

                {{quickNav.storeData.store['username']}}

              </h2>

              <div class="user-meta">

              <div class="vip-chip">

                <span class="vip-dot"></span>

                VIP {{quickNav.storeData.store['vip_system']?.active?.vip_level||0}}

              </div>

              <!-- <span class="user-id">

                #12345

              </span> -->

            </div>

            </div>

          </div>

          <div class="balance-section">

            <small>

              Available Balance

            </small>

            <h1>

              {{quickNav.storeData.store['wallet']?.balance.new|currencyConverter:true}}

            </h1>

          </div>

          <div class="wallet-actions">

            <button (click)="quickNav.go('deposit')" class="deposit-btn">

              Deposit

            </button>

            <button (click)="quickNav.go('withdraw')" class="withdraw-btn">

              Withdraw

            </button>

          </div>

        </div>

      <!-- QUICK ACTIONS -->

      <div class="section-title">

        Quick Actions

      </div>

      <div class="quick-grid">

        <div (click)="quickNav.go('transaction')" class="quick-card">
          📄
          <span>Transactions</span>
        </div>

        <div class="quick-card" (click)="quickNav.go('invite/referrals')">
          👥
          <span>Referrals</span>
        </div>

        <div class="quick-card" (click)="quickNav.go('invite/rebate')">
          💰
          <span>Rebates</span>
        </div>

        <div class="quick-card" (click)="quickNav.go('invite/rewards')">
          🎁
          <span>Rewards</span>
        </div>

        <div (click)="openModal()" class="quick-card">
          🔐
          <span>Security</span>
        </div>

        <div (click)="quickNav.openTab('https://t.me/winverseline')" class="quick-card">
          🎧
          <span>Help</span>
        </div>

        <div (click)="quickNav.openTab('https://t.me/winversegamechannel')" class="quick-card">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240 240" width="20" height="20">
            <circle cx="120" cy="120" r="120" fill="#229ED9"/>
            <path fill="#FFFFFF" d="
              M180.7 67.5
              L49.4 118.1
              C40.4 121.7 40.5 126.7 47.8 128.9
              L81.5 139.4
              L159.5 90.2
              C163.2 88 166.5 89.2 163.7 91.7
              L100.5 148.7
              L98.1 182.5
              C101.6 182.5 103.1 180.9 105.1 179
              L121.5 163
              L155.6 188.2
              C161.9 191.7 166.4 189.9 168 182.4
              L190.4 76.7
              C192.8 67.5 186.8 63.3 180.7 67.5
              Z"/>
          </svg>
          <span>Channel</span>
        </div>


        <div (click)="appManager.installApp()" class="quick-card">
          📲
          <span>App</span>
        </div>


      </div>

      <!-- LANGUAGE -->

      <div class="section-title">

        Preferences

      </div>

      <div class="language-card">

        <div class="quick-icon">

          🌐

        </div>

        <div class="language-content">

          <span class="language-title">

            Language

          </span>

          <select
            class="trans-select"
            (change)="quickNav.changeLanguage($event)"
          >

            <option disabled selected>
              Select Language
            </option>

            <option
              *ngFor="let lang of quickNav.langKeys"
              [value]="lang"
            >
              {{ lang }}
            </option>

          </select>

        </div>

      </div>

      <!-- STATS -->

      <div class="section-title">

        Transaction stats

      </div>

      <div *ngIf="quickNav.storeData.store['wallet']?.history as stats" class="stats-grid">

        <div class="stat-card">

          <small>Total Deposits</small>

          <strong>{{stats.deposit|currencyConverter:true}}</strong>

        </div>

        <div class="stat-card">

          <small>Total Withdrawals</small>

          <strong>{{stats.withdraw|currencyConverter:true}}</strong>

        </div>



      </div>

      <div class="section-title">

        Betting stats

      </div>

      <div *ngIf="quickNav.storeData.store['betDir']?.records as stats"  class="bet-performance">

        <!-- SECURE -->

        <div class="bet-card secure">

          <div class="bet-header">

            <span>

              🛡️ Secure Bets

            </span>

            <strong>

              {{ stats.true?.won?.percentage || 0 }}%

            </strong>

          </div>

          <div class="bet-label">

            Winning Rate

          </div>

          <div class="bet-grid">

            <div>

              <small>Bets</small>

              <strong>
                {{ stats.true?.won?.count || 0  }}
              </strong>

            </div>



            <div>

              <small>Profit</small>

              <strong class="profit">
                {{ stats.true?.won?.won_amount || 0 |currencyConverter:true }}
              </strong>

            </div>

            <div>

              <small>Loss</small>

              <strong>
                {{ stats.true?.loss?.count || 0  }} / {{ stats.true?.loss?.stake_amount || 0 |currencyConverter:true }}
              </strong>

            </div>

          </div>


        </div>

        <!-- RISK -->

        <div class="bet-card risk">

          <div class="bet-header">

            <span>

              ⚡ Risk Bets

            </span>

            <strong>

              {{ stats.false?.won?.percentage || 0}}%

            </strong>

          </div>

          <div class="bet-label">

            Winning Rate

          </div>

          <div class="bet-grid">

            <div>

              <small>Bets Won</small>

              <strong>
                {{ stats.false?.won?.count }}
              </strong>

            </div>



            <div>

              <small>Profit</small>

              <strong class="profit">
                {{ stats.false?.won?.won_amount || 0 |currencyConverter:true }}
              </strong>

            </div>

            <div>

              <small>Loss</small>

              <strong>
                {{ stats.false?.loss?.count || 0  }} / {{ stats.false?.loss?.stake_amount|| 0 |currencyConverter:true }}

              </strong>

            </div>

          </div>



        </div>

      </div>

      <div class="profile-actions">

        <button
          *ngIf="!quickNav.storeData.get('bindedTg')"
          class="action-btn telegram-btn"
          (click)="telegramService.connect(quickNav.storeData.store)"
        >

          <i class="fab fa-telegram-plane"></i>

          <span>

            Link Telegram Account

          </span>

          <i class="fa fa-chevron-right"></i>

        </button>

        <button
          *ngIf="quickNav.storeData.get('bindedTg')"
          class="action-btn telegram-linked"
        >

          <i class="fa fa-check-circle"></i>

          <span>

            Telegram Connected

          </span>

          <i class="fa fa-chevron-right"></i>

        </button>

        <button
          class="action-btn logout-btn"
          (click)="quickNav.authService.logout(false)"
        >

          <i class="fa fa-sign-out-alt"></i>

          <span>

            Logout Account

          </span>

          <i class="fa fa-chevron-right"></i>

        </button>

      </div>

    </div>

 </section>
 </section>




<app-menu-bottom></app-menu-bottom>


<!-- chamge Password modal -->

<div
  class="modal fade premium-modal"
  id="changePassword"
  tabindex="-1"
>

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content premium-content">

      <div class="modal-glow"></div>

      <div class="modal-header">

        <div class="header-icon">

          🔐

        </div>

        <div>

          <h5>

            Change Password

          </h5>

          <span>

            Secure your account

          </span>

        </div>

        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
        ></button>

      </div>

      <div class="modal-body">

        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >

          <div class="premium-input">

            <label>

              Current Password

            </label>

            <input
              type="password"
              placeholder="Enter current password"
              formControlName="old-password"
            >

          </div>

          <div class="premium-input">

            <label>

              New Password

            </label>

            <input
              type="password"
              placeholder="Enter new password"
              formControlName="new-password"
            >

          </div>

          <button
            class="form-btn"
            [disabled]="!form.valid"
            type="submit"
          >

            Update Password

          </button>

        </form>

      </div>

    </div>

  </div>

</div>
