<app-header2></app-header2>
<app-spinner></app-spinner>


<div class="reward-section app-container">

  <div class="reward-header">

    <div>

      <!-- <h3>🎁 Invite Rewards</h3> -->

      <span>

        Earn rewards by inviting friends

      </span>

    </div>

    <div class="reward-earned">

      <small>Total Claimed</small>

      <strong>

        {{ totalRewarded | currencyConverter:true }}

      </strong>

    </div>

  </div>

  <div class="reward-list">

    <div
      class="reward-item"
      *ngFor="let level of levels"
    >

      <div class="reward-top">

        <div class="reward-prize">

          🎁 {{ level.reward_amount | currencyConverter:true }}

        </div>

        <div
          class="reward-status unlocked"
          *ngIf="total_invites >= level.invites_required"
        >
          Claimed
        </div>

        <div
          class="reward-status"
          *ngIf="total_invites < level.invites_required"
        >
          {{ level.invites_required - total_invites }}
          Left
        </div>

      </div>

      <div class="reward-desc">

        Invite

        <strong>

          {{ level.invites_required }}

        </strong>

        friends



      </div>

      <div class="reward-progress">

        <div
          class="reward-fill"
          [style.width.%]="getProgress(level.invites_required)"
        ></div>

      </div>

      <div class="reward-footer">

        <span>

          {{ total_invites }}

          /
          {{ level.invites_required }}

          Invites

        </span>

      </div>

    </div>

  </div>

</div>
