.reward-section {

  margin-top: 1rem;
  margin-bottom: 17px;

}

/* HEADER */

.reward-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 1rem;

}

.reward-header h3 {

  margin: 0;

  color: white;

  font-weight: 800;

}

.reward-header span {

  color:
    rgba(255,255,255,.5);

  font-size: .8rem;

}

.reward-earned {

  text-align: right;

}

.reward-earned small {

  display: block;

  color:
    rgba(255,255,255,.45);

}

.reward-earned strong {

  color: #22c55e;

  font-size: 1rem;

}

/* CARD */
.reward-list {

  display: flex;

  flex-direction: column;

  gap: .9rem;

}

/* CARD */

.reward-item {

  padding: 1rem;

  border-radius: 1rem;

  background:
    linear-gradient(
      145deg,
      #120714,
      #1d0b1f
    );

  border:
    .0625rem solid rgba(205,127,214,.08);

}

/* TOP */

.reward-top {

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: .75rem;

}

.reward-prize {

  color: white;

  font-size: 1.15rem;

  font-weight: 900;

}

.reward-status {

  padding: .35rem .7rem;

  border-radius: 999px;

  font-size: .7rem;

  font-weight: 700;

  color: #f59e0b;

  background:
    rgba(245,158,11,.08);

}

.reward-status.unlocked {

  color: #22c55e;

  background:
    rgba(34,197,94,.08);

}

/* DESCRIPTION */

.reward-desc {

  margin-top: .8rem;

  color:
    rgba(255,255,255,.7);

  line-height: 1.5;

  font-size: .85rem;

}

.reward-desc strong {

  color: white;

}

/* PROGRESS */

.reward-progress {

  height: .5rem;

  margin-top: .9rem;

  overflow: hidden;

  border-radius: 999px;

  background:
    rgba(255,255,255,.05);

}

.reward-fill {

  height: 100%;

  border-radius: inherit;

  background:
    linear-gradient(
      90deg,
      #cd7fd6,
      #a855b0
    );

}

/* FOOTER */

.reward-footer {

  margin-top: .6rem;

  display: flex;

  justify-content: space-between;

  color:
    rgba(255,255,255,.45);

  font-size: .75rem;

}
