<app-header2></app-header2>
<app-spinner></app-spinner>


<div class="page page-wrapper">


    <section class="app-container">

      <div *ngIf='storeData.store["soccer"]; else loadSoccer'>
        <div *ngIf="fixture; else expiredFixture">
            <div *ngIf="fixture.fixture.fixture.timestamp | countdown :0:'data'| async as time; else expiredFixture">

              <div class="card">
                <div class="league-link">{{fixture.fixture.league.country}} - {{fixture.fixture.league.name}}</div>

                <div class="content">
                  <!-- <button class="nav-btn">&lt;</button> -->

                  <div class="teams">
                    <div class="team">
                      <div class="team-logo">
                        <img [src]="fixture.fixture.teams.home.logo" alt="">
                      </div>
                      <div class="team-name">{{fixture.fixture.teams.home.name}}</div>
                    </div>

                    <div class="match-info">

                        <div class="date">

                          {{ fixture.fixture.fixture.timestamp | timeFormat:'shortDate' }}

                        </div>

                        <div class="day">

                          {{ fixture.fixture.fixture.timestamp | timeFormat:'day' }}

                        </div>

                        <div class="time">

                          {{ fixture.fixture.fixture.timestamp | timeFormat:'time' }}

                        </div>

                      </div>

                    <div class="team">
                      <div class="team-logo modern-logo">
                        <img [src]="fixture.fixture.teams.away.logo" alt="">
                      </div>
                      <div class="team-name">{{fixture.fixture.teams.away.name}}</div>
                    </div>
                  </div>

                </div>

                <!-- <div class="footer">
                  <span class="game-id">Game ID 34673</span>
                  <span class="live"><span class="live-dot">◉</span> Live In-Play Available</span>
                  <span class="stv">S<span style="color:#333">tv</span></span>
                </div> -->
              </div>

              <app-betslip *ngIf="matchService.isSlipVisible"></app-betslip>


              <div *ngIf="!matchService.isSlipVisible" class="correct-score-market">

                <!-- HEADER -->

                <div class="market-header">

                  <div class="market-title">

                    <span class="dot"></span>

                    Correct Score

                  </div>

                  <!-- <button class="counter-btn">

                    Counters

                  </button> -->

                </div>

                <!-- TABLE -->

                <div class="score-table">

                  <!-- HEADERS -->

                  <div class="table-head">

                    <span>
                      {{ fixture.fixture.teams.home.name }}
                    </span>

                    <span>
                      Draw
                    </span>

                    <span>
                      {{ fixture.fixture.teams.away.name }}
                    </span>

                  </div>

                  <!-- ROWS -->

                  <div
                    class="score-row"
                    *ngFor="let row of fixture.odds"
                  >

                    <!-- COLUMN -->

                    <div
                      class="score-box"
                      *ngFor="let item of row"
                      [class.empty]="item.value === '-'"

                      (click)="matchService.showBetSlip(fixture,{odds:item.odds,value:item.value}); activeRow=item.value; activeID=fixture.fixtureID"

                      [class.active]="activeRow===item.value && activeID===fixture.fixtureID"
                    >

                      <ng-container
                        *ngIf="item.value !== '-'"
                      >

                        <div class="score">

                          {{ item.value }}

                        </div>

                        <div class="odd">

                          {{ item.odds | number:'1.2-2' }}

                        </div>

                      </ng-container>

                    </div>

                  </div>

                </div>

              </div>

            </div>
          </div>
      </div>

      <ng-template #loadSoccer>
        <p>loading</p>
      </ng-template>


    </section>


    <section class="app-container">
      <ng-template #expiredFixture>
          <app-empty-state></app-empty-state>
      </ng-template>

    </section>


</div>
